<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.peco.Mapper.MemberMapper">
	

	<select id="member_getOne" resultType="com.peco.VO.MemberVO">
		select P_member.*, uploadpath||F_img.m_id||'_'||filename savePath 
		from P_member, F_img 
		where P_member.m_id = F_img.m_id
		and P_member.m_id = #{m_id}
	</select>
	

	<update id="update">
		update P_member set 
			pw = #{pw},
			mName = #{mName},
			mPhone = #{mPhone},
			email = #{email},
			nickname = #{nickname},
			age = #{age}
			where m_id = #{m_id}
	</update>

	
</mapper>